{% extends 'layout/default.html' %}
{% block style%}
<style>
    h1 {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    .green {
        color: #52A954;
    }
</style>
{% endblock %}
{% block content %}
<div class="i-cloud">
    <div class="status">
        <div class="content">

            <div class="ui stacked segment">
                <h1>
                    Peaches
                </h1>

                <p>Peaches是一个基于Node的CSS编译工具，用于自动合成CSS Sprite。<br/>Peaches 追求简单、自然的CSS书写方式！</p>
                <a class="ui basic button"
                   href="https://github.com/sliuqin/peaches/wiki/%E5%AE%89%E8%A3%85peaches" target="_blank">
                    <i class="download icon"></i>
                    安装
                </a>
                <a class="ui basic button"
                   href="/try" target="_blank">
                    <i class="magic icon"></i>
                    在线试试
                </a>
                <a class="ui basic button"
                   href="https://github.com/sliuqin/peaches/wiki" target="_blank">
                    <i class="book icon"></i>
                    Wiki
                </a>
            </div>

            <div class="ui stacked segment">
                <h1>
                    Cloud Service
                </h1>

                <p>Peaches 提供服务端安装程序，帮助团队组建自己的云服务。</p>
                
                <a class="ui basic button"
                   href="https://github.com/sliuqin/cloud.peaches.io/wiki" target="_blank">
                    <i class="book icon"></i>
                    Wiki
                </a>
            </div>


        </div>
    </div>

</div>

{% endblock %}
{% block script%}
{% endblock %}