<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Peaches 简单 自然</title>
    <meta name="keywords" content="css,css背景图片,背景图片合并,css sprite,background-image">
    <meta name="description"
          content="Peaches 是一个CSS编译工具，用于自动合并background-image并更新background-position。Peaches 追求简单、自然的CSS书写方式。">
    <meta name="baidu-site-verification" content="LpQuY90nx8G4XAnL"/>
    <link rel="stylesheet" href="{{settings.STATIC_URL}}/css/dest/0.1.0/cloud.css"/>
    {% block head %}
    {% endblock %}
    {% block style%}
    {% endblock %}
</head>

<!--[if lt IE 7]>
<body class="ie6"><![endif]--><!--[if IE 7]>
<body class="ie7"><![endif]--><!--[if IE 8]>
<body class="ie8"><![endif]--><!--[if !IE]><!-->
<body><!--<![endif]-->

<div class="i-header">
    <div class="content">
        <a class="home" href="{{settings.ROOT_URL}}">
            <i class="icon"></i>
        </a>

        <div class="ui horizontal list">
            <div class="item"><a href="/">Home</a></div>
            <div class="item"><a href="/try">Try</a></div>
            <div class="item"><a href="http://github.com/sliuqin/peaches">Github</a></div>
        </div>
    </div>
</div>


<div class="i-container">
    {% block content %}{% endblock %}
</div>
<div class="ui divider"></div>
<div class="i-footer">
    <div class="content copyright">
        Peaches.io版权所有 浙ICP备12035845号
    </div>
</div>

<script type="text/javascript"
        src="http://static.alipayobjects.com/seajs/1.2.1/??sea.js,plugin-combo.js">
</script>
<script>
    seajs.config({
        alias: {
            '$': 'gallery/jquery/1.7.2/jquery'
        }
    });
</script>

{% block script%}

{% endblock %}
{% if settings.env == 'production'%}
<div style="display: none;">
<script type="text/javascript">

    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F727a820d5a725ff802b76da348d30404' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
{% endif %}
</body>
</html>