/**
* 这是一个使用 Peaches 书写样式的例子，现在就点击下面的“Peaches”按钮试试
* 你也可以从上面的列表中加载其他的样式表
* 当然，也可以在这里输入你自己的样式
*/
p {
    background: url('https://i.alipayobjects.com/e/201301/25DFxqiuiC.png');
}

span {
    background: url(https://i.alipayobjects.com/e/201208/3FnlCgAmxt.png);
}

@media screen, projection {
    html {
        background: url(https://i.alipayobjects.com/e/201208/3FnlCgAmxt.png);
    }

    body {
        background: url(https://i.alipayobjects.com/combo.jpg?d=apps/24&t=10015,10017,10018,10023,10048,10051);
    }

    p {
        background-image: url(https://i.alipayobjects.com/combo.jpg?d=apps/24&t=10015,10017,10018,10023,10048,10051,10056,10059);
    }
}